.page-frame {
  max-width: 960px;
  margin: 20px auto 0 auto;
  padding: 0 1.111rem
}

.todo {
  &__form {
    margin-bottom: 1.111rem;
      form {
        display: flex;
        input {
          width: 100%;
          padding: 1.111rem;
          box-sizing: border-box;
          outline: none;
          border: 1px #ddd solid;
          &:focus {
            border: 1px darkcyan solid;
          }
        }
        button {
          min-width: 150px;
          border: none;
          outline: none;
          background-color: darkcyan;
          color: #fff;
          cursor: pointer;
          &:hover {
            opacity: 0.8;
          }
          &:disabled {
            background-color: #ddd;
            color: #666666;
            cursor: not-allowed;
          }
        }
      }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &__item {
    padding: 1.111rem;
    border: 1px #ddd solid;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__close {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    font-size: 1.111rem;
  }

  &__count {
    margin-bottom: 1.111rem;
    display: block;
  }

  &__toolbar {
    button.todo__filter-btn {
      background-color: darkcyan;
      color: #fff;
      padding: 0.556rem;
      border: none;
      outline: none;
      margin-right: 10px;
      cursor: pointer;
      margin-bottom: 10px;
      &--remove {
        background-color: red;
      }
      &:disabled {
        background-color: #ddd;
        color: #666666;
        cursor: not-allowed;
      }
      &:hover {
        opacity: 0.8;
      }
    }
  }



    [type="checkbox"]:checked,
    [type="checkbox"]:not(:checked) {
      position: absolute;
      left: -9999px;
    }
    [type="checkbox"]:checked + label,
    [type="checkbox"]:not(:checked) + label {
      position: relative;
      padding-left: 1.778rem;
      cursor: pointer;
    }

    [type="checkbox"]:checked + label:before,
    [type="checkbox"]:not(:checked) + label:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 20px;
      height: 20px;
      border-radius: 2px;
      border: 1px solid #ddd;
      background: #fff;
    }


  [type="checkbox"]:checked + label:after,
  [type="checkbox"]:not(:checked) + label:after {
    content: '✓';
    color: #fff;
    text-align: center;
    line-height: 20px;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0px;
    left: 0px;
    transition: all 0.2s ease;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center center;
background-color: darkcyan;
border: 1px transparent solid;
}

[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: translateX(-100%);
}

[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: translateX(0);
}
}

.done {
  text-decoration: line-through;
}


